[Unit]
Description=ActiveMQ service
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/alfresco-community72/activemq/bin/activemq start
ExecStop=/usr/local/alfresco-community72/activemq/bin/activemq stop
User=alfresco
Group=Alfresco
WorkingDirectory=~/usr/local/alfresco-community72/activemq/data
Restart=always
RestartSec=9
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=activemq

[Install]
WantedBy=multi-user.target
