[Unit]
Description=Local transformation java service

[Service]
WorkingDirectory=/usr/local/alfresco-community70/bin
ExecStart=/bin/java -XX:MinRAMPercentage=50 -XX:MaxRAMPercentage=80 -DPDFRENDERER_EXE="$ALF_HOME/alfresco-pdf-renderer/alfresco-pdf-renderer" \
	 -DLIBREOFFICE_HOME="$ALF_HOME/libreoffice" \
	 -DIMAGEMAGICK_ROOT="$ALF_HOME/imagemagick" \
	 -DIMAGEMAGICK_DYN="$ALF_HOME/imagemagick" \
	 -DIMAGEMAGICK_EXE="$ALF_HOME/imagemagick/convert" \
	 -DIMAGEMAGICK_CODERS="$ALF_HOME/imagemagick/modules-Q16HDRI/coders" \
	 -DIMAGEMAGICK_CONFIG="$ALF_HOME/imagemagick/config-Q16HDRI" \
	 -DACTIVEMQ_URL=failover:(tcp://localhost:61616)?timeout=3000 \
	 -jar $ALF_HOME/bin/alfresco-transform-core-aio-boot-2.4.0.jar
	 
User=alfresco
Group=Alfresco
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target